<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Ulogujte se na Vaš nalog.</mat-toolbar>
    <form
      fxLayoutAlign="stretch"
      fxLayout="column"
      #loginform="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field>
        <input
          matInput
          placeholder="Username"
          type="username"
          name="username"
          [(ngModel)]="form.username"
          #username="ngModel"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          name="password"
          [(ngModel)]="form.password"
          #password="ngModel"
        />
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">Login</button>
    </form>
  </mat-card>
</div>
